 /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, hr, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*==================================MY CSS=============================*/

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  

}

body{
  width: 100%;
  background-image: linear-gradient( #ffffff ,  #e6e6e6 ) ;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Linux Libertinee', sans-serif;
}
 /*.bs{
    background-image: linear-gradient( #ffffff 5%, #e6e6e6 90% ) ;
} */
            /*=============================================================links===========================================*/
a{
   text-decoration: none; 
}
a:hover{
    text-decoration: underline; 
}

          /*=====================================================================Header==============================================*/
.right{
     width: 90%;
     height: auto;
    float: right;
    text-align: right;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.right p{
    padding-top: 1rem;
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 13px;
}
.user{
    color: #595959;
}

   /*=========================================================================left=================================================*/
#flex{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.left{
    width: 10rem;
    height: 100%;
    float: left;
    padding-left: 1rem;
    /*flex-direction: row;
    justify-content: flex-start; */
    padding-right: 1.5rem;
    font-size: 13px;
    white-space: nowrap;
    
}
 .image{
   width: auto;
     height: auto;
     margin-bottom: 1rem;
}
.image img{
    max-width: 7rem;
    height: auto;
}
.list1, .list2, .list3, .list4{
    width: 100%;
    height: auto;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.list1 p, .list2 p, .list3 p, .list4 p{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-family: 'Linux Libertinee', sans-serif;
}
.left hr{
    border: 0.5px solid grey;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.fa-cog, .edit {
    float: right;
    color: grey;
    
}
.fa-cog:hover{
    color: black;
    transition: 0.5s ease-in;
}
              /*=================================================edit=================================================*/
.edit i, .edit a{
    color: grey;
}
.edit a:hover{
    text-decoration: none;
}
.edit:hover a{
   color: blue;
}
.edit:hover i{
   color: blue;
}
.edit:hover{
   border-bottom: 1px solid blue; 
}
      /*============================================================================center===================================*/

.center{
    width: 90rem;
    height: auto;
    float: right;
    margin-top: 1.3rem;
    border-left: 1px solid #a7d7f9;
    border-bottom: 1px solid #a7d7f9;

    
    
}
.bs{
    width: 100%;
    height: 2rem;
    padding-top: 0.2rem;
    border-bottom: 1px solid #a7d7f9;
    
   
    
}
 
.part1, .part2, .part3, .part4, .part5, .part6{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

}

.part1-text1 h1{
    font-size: 1.7rem;
    font-family: 'Linux Libertine','Georgia','Times',serif;
    padding-top: 1rem;
}

.center h6{
    font-size: 0.8rem;
    padding-bottom: 0.8rem;
    
}
.part1-text2 p, .part2 p, .part3 p, .part4 p, .part6 p{
    font-size: 0.8735rem;
    line-height: 1.6;
}
sup{
   font-size: 0.625rem;
   vertical-align: super;

  }


strong{
    font-weight: bold;
}
.edit2{
    font-size: 0.9375rem;
    vertical-align: middle;
    margin-left: 0.5rem;
}
        /*===============================================================part1-tabel=================================================*/
#part1-tabel{
    width: 8rem;
    height: auto;
    font-size: 13px;
    margin-top: 1.3rem;
    padding-top: 0.2rem;
    margin-bottom: 1.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border: 1px solid grey;
    text-align: left;
    background-color: #f8f9fa;
}
#show{
   color: blue;  
}
#show:hover{
    text-decoration: underline;

}
.part1-tabel h5{
    text-align: center;
}
.gm{
    text-align: right;
}
#part1-tabel p{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    
}
.center h3{
    font-size: 20px;
    font-family: 'Linux Libertine','Georgia','Times',serif;
}
         /*=================================================================part-image===============================================*/
.part-image{
    width: 18rem;
    float: right;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem; 
    border: 1px solid grey;
    text-align: center;
    font-size: 13px;
    background-color: #f8f9fa;
    

}



.bold{
    font-weight: bold;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    font-size: 15px;
}
.list-left p, .list-right p{
   padding-top: 0.3rem;
   padding-bottom: 0.3rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
     
}
.list-left{
    float: left;
    text-align: justify;
    font-weight: bold;
}
.list-right{
    float: right;
    text-align: justify;
}
/*@media(min-width: 800px ){
    .part-image{
    float: right;
    }
}
@media(max-width: 800px){
    .center{
        width 90%;
    }
    .left{
        width: 10%;
    }
    .part-image{
        width: 13rem;
        height: 19.5rem;
        margin-right: auto;
        margin-left: auto;
        display: block;
        font-size: 10px;
        margin-bottom: 0.3rem;
    }
    .bold{
  font-size: 10px;  
}
.part-image img{
    width: 7rem;
}
 } +/
   /*================================================================================part3============================================*/
.part3{
    width: auto;
    height: auto;
   
}
.part1{
    clear: right;
}

.part3-image{
    width: 10.5rem;
    height: auto;
    float: left;
    border: 1px solid grey;
    margin-right: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    background-color: #f8f9fa;
    
}
.part3-image img{
    width: 10rem;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 0.2rem;
}
.part3-image p{
    font-size: 12px;
    line-height: 1.6;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}
.part3-text1{
    width: 100%;
    height: auto;   
}
.part3 h4{
    font-size: 17px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}  


          /*============================================================part5====================================================*/
.part5 p{
    font-size: 0.875rem;

} 

.references p {
  font-size: 0.875rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  line-height: 1.6;
}
.references sup{
    font-size: 0.625rem;
}
.references i{
    font-size: 0.625rem;
}
      /*=======================================================================part6===================================================*/
.dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color:  #0000EE;
     display: inline-block;
    margin-right: 0.5rem;
}
.part6 i{
    font-size: 0.625rem;
}
.part6-text1 {
    margin-bottom: 1rem;
    line-height: 1.6;
    white-space: nowrap;
}


.part6-text2{
  border: 1px solid grey;
  width: 100%;
  padding-left: 0.3rem;
  background-color: #f8f9fa;
  margin-bottom: 0.5rem;
}
.part6-text2 p{
    display: inline-block;
    padding-right: 0.1rem;
    padding-top: 0.2rem;
    font-size: 0.875rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
}
.line{
    display: inline;
    border-left: 1px solid grey;
    height: 20px;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    
    
}
.italic{
    font-style: italic;
}

/*====================================================================Buttons===================================*/

.bs{
  background-image:   linear-gradient(#ffffff, #f2f2f2); 
}
/*.bt-left button{
    padding: 9px;
    height: 27px;
    border-left: 1px solid hsla(205, 87%, 82%, 0.5);
    border-right: 1px solid hsla(205, 87%, 82%, 0.5);
}  */

.bt-right a, .bt-left a{
    border-left: 1px solid hsla(205, 87%, 82%, 0.5);
    border-right: 1px solid hsla(205, 87%, 82%, 0.5);
     background-color: hsla(150, 73%, 96%, 0.4);
    font-size: 13px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.4rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    
}
.bt-left{
    float: left;
    margin-top: 0.6rem;
   
}
/*.bt-left button{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
    font-size: 13px;
    border-top: none;
    border-bottom: none;
    background-color: white;
    background-color: hsla(150, 73%, 96%, 0.4);
    font-family: 'Linux Libertinee', sans-serif;
} */
.bt-right{
    float: right;
    margin-top: 0.6rem;
   
}
#article{
    margin-left: 0;
    background-color: white;
    color: black;
    border-left: none;
    text-decoration: none;
}
.bt-left a:hover, .bt-right a:hover{
    background-color: white;
    text-decoration: underline;
}

        /*================================================================search-bar===========================================*/
.search-container {
    display: inline-block;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    position: relative;
    border: 1px groove #d9d9d9;
    float: right;
    font-family: 'Linux Libertinee', sans-serif;
 
}
.search-container button{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    background: transparent;
    padding-right: 0.3rem;
    border: none;
}
.search-container button:hover{
   cursor: pointer; 
}
.search-container input{
    width: 20rem;
    height: 1.25rem;
    border: none;
}
.search-container input:focus{
    outline: none;
}
.search-container:hover {
    border: 1px groove #1a1a1a;
   
}
 

/*.search-container input:hover{
    border: 1px solid red;
} */

.white{
    background-color: white;
    clear: both;
}
.aa{
    width: 12%;
    float: left;
}
#flex2{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 100%;
}
footer{
    width: 100%;
    height: auto;
    float: right;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 12px;
    margin-left: 1rem;
    padding-left: 10rem;
    
    
}
.footer-text{
    width: 100%;
    padding-top: 0.7rem;
    
}
.UTC{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    
}
.foundation{
    padding-bottom: 0.6rem;
    line-height: 1.6;
}

.footer-text2{
  float: left;
  text-align: center;
  padding-bottom: 0.4rem;
}
.footer-text2 a{
  padding-right: 0.2rem;
}
.logo{
    float: right;
    padding-bottom: 0.4rem;
    
}
.hr{
    height: 1px;
    background-color: grey;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.hr-left{
    height: 1px;
    background-color: grey;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    
}

